<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор описаний отелей</title>
    <link rel="stylesheet" href="../static/style/styles.css">
</head> 
<body class="body_welcome">
    <header class="header_welcome">
        <div class="wrapper-header">
            <h1 class="main-title">Добро пожаловать на генератор описаний отелей</h1>
            <p class="intro-text">Наш проект создан для быстрого и удобного создания профессиональных описаний для отелей, с учетом их услуг, особенностей и целевой аудитории.</p>
            <a href="/generate" class="white-button">Перейти к генератору</a>
        </div>
    </header>
    
    <main>
        <section class="section-about">
            <div class="wrapper-content">
                <h2 class="section-title">О проекте</h2>
                <p class="section-text">Этот инструмент разработан командой Clio вовремя участия в программе Сириус ИИ от кейса МТС Treval. Он позволяет пользователям с легкостью генерировать уникальные описания для различных типов отелей, учитывая все важные критерии. Просто заполните форму, и описание будет готово!</p>            </div>
        </section>
        
        <section class="section-example-model">
            <div class="wrapper-content">
                <h2 class="section-title">Пример работы сервиса</h2>
        
                <!-- Блок промпта -->
                 <div class="div_descrip">
                    <div class="example-card">
                        <h4 class="hotel-name">Категория: Бизнес</h3>
                        <h4 class="hotel-name">Название: Элеон</h3>
                        <h4 class="hotel-city">Город: Москва</h4>
                        <h4 class="hotel-addres">Адрес: ул. Большая Якиманка, д. 1</h4>
                        <h4>Особенности отеля:</h4>
                        <ul class="hotel-features">
                            <li>Бесплатный Wi-Fi</li>
                            <li>Включён завтрак</li>
                            <li>Рядом с парком</li>
                            <li>Метро</li>
                            <li>Бассейн</li>
                        </ul>

                    </div>
            
                    <!-- Блок описания -->
                    <div class="example-description">
                        <h3>Описание:</h3>
                        <p class="hotel-description">
                            Отель "Элеон", расположенный в центре Москвы, сочетает удобство и комфорт.
                            Его стратегическое местоположение рядом с парками, метро, крупнейшими музеями, такими как Государственный музей изобразительных искусств им. А.С. Пушкина, а также историческими достопримечательностями, включая храм Христа Спасителя и памятник Петру I, делает его идеальным как для туристов, так и для деловых путешественников.
                            Включенные услуги, такие как бесплатный Wi-Fi и завтрак, обеспечивают удобство и экономию для гостей. Шаговая доступность до магазинов, ресторанов и бизнес-центров создает условия для насыщенного и комфортного пребывания.
                            <p class="hotel-welcome">
                            Приезжайте к нам, чтобы стать частью нашего теплого и функционального мира отдыха!
                        </p>
                    </div>
                 </div>
            </div>
        </section>
        
    </main>
    
    <footer>
        <div class="wrapper-footer">
            <p class="footer-text">© 2024 Генератор описаний отелей. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
